In [1]:
import requests
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import os
from tqdm import tqdm
from random import random
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import random
from undetected_chromedriver import Chrome, ChromeOptions
from selenium.common.exceptions import NoSuchElementException
from urllib.parse import urljoin

# EXTRACCIÓN DE INFORMACIÓN

## DATA SCIENCE

In [2]:
# Configurar opciones del navegador
options = ChromeOptions()
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [3]:
driver = Chrome(options=options)

In [4]:
driver.get('https://www.bumeran.com.pe/empleos-busqueda-ciencia-de-datos.html')

In [5]:
companies = []
jobs = []
locations = []
dates = []
descriptions = []
observations_1 = []
observations_2 = []
options.add_argument("--headless")  # Ejecución en modo headless (sin interfaz gráfica)
service = Service("path/to/chromedriver")  # Reemplaza "path/to/chromedriver" con la ruta al archivo chromedriver.exe

# Inicializar el controlador de Selenium
driver = webdriver.Chrome(service=service, options=options)

while True:
    # Esperar hasta que aparezca al menos un elemento 'list'
    WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.TAG_NAME, "body")))
    
    # Encontrar todos los elementos 'list'
    lists = driver.find_elements(By.CLASS_NAME, "sc-csJRnm.cbWJbr")

    # Recorrer cada 'list' y extraer la información requerida
    for list_element in lists:
        company = list_element.find_element(By.CLASS_NAME, "sc-jkPxnQ.bxzQRW").text
        job = list_element.find_element(By.CLASS_NAME, "sc-eZXMBi.byiMiZ").text
        location = list_element.find_element(By.CLASS_NAME, "sc-dCVVYJ.hWcikA").text
        date = list_element.find_element(By.CLASS_NAME, "sc-kiXyGy.ebStiw").text
        description_elements = list_element.find_elements(By.CLASS_NAME, "sc-Ehqfj.ezOOTA")
        description = ""
        if description_elements:
            for element in description_elements:
                description += element.text
        
        # Agregar la información a las listas correspondientes
        companies.append(company)
        jobs.append(job)
        locations.append(location)
        dates.append(date)
        descriptions.append(description)

    # Buscar el enlace de "Avanzar" en la página actual
    next_button = driver.find_element(By.CSS_SELECTOR, "a.sc-hrBRpH.eGzIAQ")
    if 'disabled' in next_button.get_attribute("class"):
        break
    
    next_url = next_button.get_attribute("href")
    
    current_page = driver.current_url
    driver.get(next_url)
    new_page = driver.current_url
    if current_page == new_page:
        break

    time.sleep(random.uniform(3, 5))

driver.quit()

In [6]:
# Crear un dataframe con la información recolectada
data_ds = {
    'Company': companies,
    'Job': jobs,
    'Location': locations,
    'Date': dates,
    'Description': descriptions
}

df_ds = pd.DataFrame(data_ds)

df_ds["Observation 1"] = np.nan
df_ds["Observation 2"] = np.nan

In [7]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_ds1 = df_ds.drop_duplicates(subset=campos_revisión).reset_index(drop=True)
df_ds1.index = df_ds1.index + 1

In [8]:
df_ds1

,Company,Job,Location,Date,Description,Observation 1,Observation 2
1,SUNAT,Consultor en Desarrollo de Modelos Analíticos ...,Perú,Publicado hace más de 30 días,", Ciencias de la Computación y/o afines. Exper...",NaN,NaN
2,VIRTUS HEADHUNTER,Analista Corporativo Técnico- Lima,"Lima, Lima",Publicado ayer,Convocatoria Analista Corporativo Técnico- Lim...,NaN,NaN
3,PANDERO S.A. EAFC,Ingeniero de Datos I - Inteligencia de Negocios,"Lima, Lima",Publicado hace más de 30 días,empresa Requisitos: Egresados de Técnica o uni...,NaN,NaN
4,CAJA HUANCAYO,AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...,"El Agustino, Lima",Publicado hace más de 30 días,alcanzarás? Desarrollar actividades de soporte...,NaN,NaN
5,Clemente Althaus School,Practicante/Asistente de Biblioteca - Colegio,"San Miguel, Lima",Publicado hace más de 30 días,"Colegio Clemente Althaus, cetificado en Bachil...",NaN,NaN
...,...,...,...,...,...,...,...
226,Grupo Tawa,Asesor de ventas bilingüe call center,"La Molina, Lima",Publicado hace más de 15 días,"Administración de Empresas, Gestión Comercial,...",NaN,NaN
227,PROTECTA SECURITY,CONSULTOR ACTUARIAL,"Surquillo, Lima",Publicado hace 12 días,establecidos en los documentos metodológicos d...,NaN,NaN
228,Corporación Educativa USIL,COORDINADOR ACADÉMICO DE CAMPOS CLINICOS Y CON...,"Lima, Lima",Publicado hace 13 días,contraprestaciones de los Convenios. Actualiza...,NaN,NaN
229,Confidencial,Coordinador Administrativo - Trujillo,"Trujillo, La Libertad",Publicado hace más de 15 días,/o Universitario bachiller o titulado e) Espec...,NaN,NaN
230,Compañia Minera Antamina,SUPERVISOR/A SENIOR DE SEGURIDAD,Ancash,Publicado hace 5 días,(PBIP) en PPL. FORMACIÓN REQUERIDA Preferentem...,NaN,NaN

## DATA ANALYST

In [9]:
# Configurar opciones del navegador
options = ChromeOptions()
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [10]:
driver = Chrome(options=options)

In [11]:
driver.get('https://www.bumeran.com.pe/empleos-busqueda-analista-de-datos.html')

In [12]:
companies = []
jobs = []
locations = []
dates = []
descriptions = []
observations_1 = []
observations_2 = []

options.add_argument("--headless")  # Ejecución en modo headless (sin interfaz gráfica)
service = Service("path/to/chromedriver")  # Reemplaza "path/to/chromedriver" con la ruta al archivo chromedriver.exe

# Inicializar el controlador de Selenium
driver = webdriver.Chrome(service=service, options=options)

while True:
    # Esperar hasta que aparezca al menos un elemento 'list'
    WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.TAG_NAME, "body")))
    
    # Encontrar todos los elementos 'list'
    lists = driver.find_elements(By.CLASS_NAME, "sc-csJRnm.cbWJbr")

    # Recorrer cada 'list' y extraer la información requerida
    for list_element in lists:
        company = list_element.find_element(By.CLASS_NAME, "sc-jkPxnQ.bxzQRW").text
        job = list_element.find_element(By.CLASS_NAME, "sc-eZXMBi.byiMiZ").text
        location = list_element.find_element(By.CLASS_NAME, "sc-dCVVYJ.hWcikA").text
        date = list_element.find_element(By.CLASS_NAME, "sc-kiXyGy.ebStiw").text
        description_elements = list_element.find_elements(By.CLASS_NAME, "sc-Ehqfj.ezOOTA")
        description = ""
        if description_elements:
            for element in description_elements:
                description += element.text
        
        # Agregar la información a las listas correspondientes
        companies.append(company)
        jobs.append(job)
        locations.append(location)
        dates.append(date)
        descriptions.append(description)


    # Buscar el enlace de "Avanzar" en la página actual
    next_button = driver.find_element(By.CSS_SELECTOR, "a.sc-hrBRpH.eGzIAQ")
    if 'disabled' in next_button.get_attribute("class"):
        break
    
    next_url = next_button.get_attribute("href")
    
    current_page = driver.current_url
    driver.get(next_url)
    new_page = driver.current_url
    if current_page == new_page:
        break

    time.sleep(random.uniform(3, 5))

In [13]:
# Crear un dataframe con la información recolectada
data_da = {
    'Company': companies,
    'Job': jobs,
    'Location': locations,
    'Date': dates,
    'Description': descriptions
}

df_da = pd.DataFrame(data_da)

df_da["Observation 1"] = np.nan
df_da["Observation 2"] = np.nan

In [14]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_da1 = df_da.drop_duplicates(subset=campos_revisión).reset_index(drop=True)
df_da1.index = df_da1.index + 1

In [15]:
df_da1

,Company,Job,Location,Date,Description,Observation 1,Observation 2
1,Oechsle,Analista de Data Analytics,"Lima, Lima",Publicado hace más de 15 días,En Oechsle nos encontramos en búsqueda de 1 pe...,NaN,NaN
2,Experis,Analista de Datos,"Lima, Lima",Publicado hace más de 30 días,datos en el rubro de Salud: ANALISTA DE DATOS ...,NaN,NaN
3,INDRA PERU,Analista de datos,"Lima, Lima",Publicado hace más de 30 días,"un Analista de Datos, que cumpla con los sigui...",NaN,NaN
4,Grupo Fractalia,ANALISTA DE REPORTES/DATOS -,"Lima, Lima",Publicado hace más de 15 días,ANALISTA DE REPORTES/DATOS El Grupo Fractalia ...,NaN,NaN
5,Winat Asesoría Comercial,Analista de Datos,"Santiago de Surco, Lima",Publicado hace 6 días,,NaN,NaN
...,...,...,...,...,...,...,...
660,FERREYROS,Representante Comercial Interno R&S - Cerro de...,"Cerro De Pasco, Pasco",Publicado hace más de 15 días,alternativas. Mantener actualizados los datos ...,NaN,NaN
661,Confidencial,Especialista de Infraestructura y Redes,"San Isidro, Lima",Publicado hace más de 30 días,"minima de 1 año en puestos de analista, asiste...",NaN,NaN
662,Banco Agropecuario,Analista de Auditoria Gestión de Riesgos y Pro...,"Lima, Lima",Publicado hace 13 días,crediticio (deseable) - Conocimiento intermedi...,NaN,NaN
663,Banco Agropecuario,Analista de Calidad,"San Isidro, Lima",Publicado hace más de 30 días,) - Conocimiento del almacenamiento de datos y...,NaN,NaN
664,Verisure Perú,Analista de investigación de fraudes,"San Isidro, Lima",Publicado hoy,"las mejores empresas para trabajar, por Great ...",NaN,NaN

## ANALISTA DE PLANEAMIENTO

In [16]:
# Configurar opciones del navegador
options = ChromeOptions()
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [17]:
driver = Chrome(options=options)

In [18]:
driver.get('https://www.bumeran.com.pe/empleos-busqueda-analista-de-planeamiento.html')

In [19]:
companies = []
jobs = []
locations = []
dates = []
descriptions = []
observations_1 = []
observations_2 = []

options.add_argument("--headless")  # Ejecución en modo headless (sin interfaz gráfica)
service = Service("path/to/chromedriver")  # Reemplaza "path/to/chromedriver" con la ruta al archivo chromedriver.exe

# Inicializar el controlador de Selenium
driver = webdriver.Chrome(service=service, options=options)

while True:
    # Esperar hasta que aparezca al menos un elemento 'list'
    WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.TAG_NAME, "body")))
    
    # Encontrar todos los elementos 'list'
    lists = driver.find_elements(By.CLASS_NAME, "sc-csJRnm.cbWJbr")

    # Recorrer cada 'list' y extraer la información requerida
    for list_element in lists:
        company = list_element.find_element(By.CLASS_NAME, "sc-jkPxnQ.bxzQRW").text
        job = list_element.find_element(By.CLASS_NAME, "sc-eZXMBi.byiMiZ").text
        location = list_element.find_element(By.CLASS_NAME, "sc-dCVVYJ.hWcikA").text
        date = list_element.find_element(By.CLASS_NAME, "sc-kiXyGy.ebStiw").text
        description_elements = list_element.find_elements(By.CLASS_NAME, "sc-Ehqfj.ezOOTA")
        description = ""
        if description_elements:
            for element in description_elements:
                description += element.text
        
        # Agregar la información a las listas correspondientes
        companies.append(company)
        jobs.append(job)
        locations.append(location)
        dates.append(date)
        descriptions.append(description)


    # Buscar el enlace de "Avanzar" en la página actual
    next_button = driver.find_element(By.CSS_SELECTOR, "a.sc-hrBRpH.eGzIAQ")
    if 'disabled' in next_button.get_attribute("class"):
        break
    
    next_url = next_button.get_attribute("href")
    
    current_page = driver.current_url
    driver.get(next_url)
    new_page = driver.current_url
    if current_page == new_page:
        break

    time.sleep(random.uniform(3, 5))

In [20]:
# Crear un dataframe con la información recolectada
data_ap = {
    'Company': companies,
    'Job': jobs,
    'Location': locations,
    'Date': dates,
    'Description': descriptions
}

df_ap = pd.DataFrame(data_ap)

df_ap["Observation 1"] = np.nan
df_ap["Observation 2"] = np.nan

In [21]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_ap1 = df_ap.drop_duplicates(subset=campos_revisión).reset_index(drop=True)
df_ap1.index = df_ap1.index + 1

In [22]:
df_ap1

,Company,Job,Location,Date,Description,Observation 1,Observation 2
1,Confidencial,Analista de Planeamiento,"Lima, Lima",Publicado hace más de 15 días,Empresa industrial se encuentra en la búsqueda...,NaN,NaN
2,AUNA,Analista de Planeamiento Finaciero,"Lima, Lima",Publicado hace más de 30 días,En AUNA estamos buscando al mejor talento para...,NaN,NaN
3,Confidencial,Analista de Planeamiento,"Villa El Salvador, Lima",Publicado hace 7 días,Nuestro cliente una importante empresa naciona...,NaN,NaN
4,SAPET DEVELOPMENT PERU INC SUCURSAL PERU,Analista de Planeamiento,"Miraflores, Lima",Publicado ayer,Somos una empresa transnacional dedicada a la ...,NaN,NaN
5,SAN MIGUEL INDUSTRIAS PET S.A,Analista de Planeamiento Financiero,"Lima, Lima",Publicado hace más de 30 días,", y atender sus consultas Requisitos: Bachille...",NaN,NaN
...,...,...,...,...,...,...,...
111,INTERCORP RETAIL,Analista de Gestión y Transformación de Procesos,"Lima, Lima",Publicado ayer,"Intercorp Retail , empresa de la plataforma re...",NaN,NaN
112,ARI CONSULTING S.A.C.,Contador Financiero,Lima,Publicado hace más de 15 días,"un NIVEL AVANZADO DE INGLÉS, y cumpla con el s...",NaN,NaN
113,ARI CONSULTING S.A.C.,Analista de Contabilidad Financiera,Lima,Publicado hace más de 15 días,"NIVEL AVANZADO DE INGLÉS, y cumpla con el sigu...",NaN,NaN
114,CONTE GROUP,ASISTENTE DE VENTAS,"Lima, Lima",Publicado ayer,mantener actualizada una base de clientes con ...,NaN,NaN
115,Marcobre,ANALISTA DE SERVICIOS DE MANTENIMIENTO,"Marcona, Ica",Publicado hace más de 15 días,parte de su plan de crecimiento se encuentran ...,NaN,NaN

## ANALISTA DE RIESGO

In [23]:
# Configurar opciones del navegador
options = ChromeOptions()
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [24]:
driver = Chrome(options=options)

In [25]:
driver.get('https://www.bumeran.com.pe/empleos-busqueda-analista-de-riesgo.html')

In [26]:
companies = []
jobs = []
locations = []
dates = []
descriptions = []
observations_1 = []
observations_2 = []

options.add_argument("--headless")  # Ejecución en modo headless (sin interfaz gráfica)
service = Service("path/to/chromedriver")  # Reemplaza "path/to/chromedriver" con la ruta al archivo chromedriver.exe

# Inicializar el controlador de Selenium
driver = webdriver.Chrome(service=service, options=options)

while True:
    # Esperar hasta que aparezca al menos un elemento 'list'
    WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.TAG_NAME, "body")))
    
    # Encontrar todos los elementos 'list'
    lists = driver.find_elements(By.CLASS_NAME, "sc-csJRnm.cbWJbr")

    # Recorrer cada 'list' y extraer la información requerida
    for list_element in lists:
        company = list_element.find_element(By.CLASS_NAME, "sc-jkPxnQ.bxzQRW").text
        job = list_element.find_element(By.CLASS_NAME, "sc-eZXMBi.byiMiZ").text
        location = list_element.find_element(By.CLASS_NAME, "sc-dCVVYJ.hWcikA").text
        date = list_element.find_element(By.CLASS_NAME, "sc-kiXyGy.ebStiw").text
        description_elements = list_element.find_elements(By.CLASS_NAME, "sc-Ehqfj.ezOOTA")
        description = ""
        if description_elements:
            for element in description_elements:
                description += element.text
        
        # Agregar la información a las listas correspondientes
        companies.append(company)
        jobs.append(job)
        locations.append(location)
        dates.append(date)
        descriptions.append(description)


    # Buscar el enlace de "Avanzar" en la página actual
    next_button = driver.find_element(By.CSS_SELECTOR, "a.sc-hrBRpH.eGzIAQ")
    if 'disabled' in next_button.get_attribute("class"):
        break
    
    next_url = next_button.get_attribute("href")
    
    current_page = driver.current_url
    driver.get(next_url)
    new_page = driver.current_url
    if current_page == new_page:
        break

    time.sleep(random.uniform(3, 5))

In [27]:
# Crear un dataframe con la información recolectada
data_ar = {
    'Company': companies,
    'Job': jobs,
    'Location': locations,
    'Date': dates,
    'Description': descriptions
}

df_ar = pd.DataFrame(data_ar)

df_ar["Observation 1"] = np.nan
df_ar["Observation 2"] = np.nan

In [28]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_ar1 = df_ar.drop_duplicates(subset=campos_revisión).reset_index(drop=True)
df_ar1.index = df_ar1.index + 1

In [29]:
df_ar1

,Company,Job,Location,Date,Description,Observation 1,Observation 2
1,FINANCIERA QAPAQ,Analista de Riesgo Operacional,"Magdalena, Lima",Publicado hace 13 días,"Financiera Qapaq, entidad dedicada a las micro...",NaN,NaN
2,Confidencial,Analista de Riesgo Financiero,"Lima, Lima",Publicado hace 7 días,Nos encontramos en la búsqueda de un/a Analist...,NaN,NaN
3,CAJA RURAL DE AHORRO Y CREDITO LOS ANDES S.A,Analista de Riesgo Operacional,"Lima, Lima",Publicado hace más de 15 días,"Somos Los Andes, banca de inclusión social con...",NaN,NaN
4,Confidencial,ANALISTA DE RIESGOS GENERALES,"Lima, Lima",Publicado hace 2 días,Somos una empresa líder en el mercado y estamo...,NaN,NaN
5,ALFIN BANCO,ANALISTA DE RIESGO NORMATIVO,"Santiago de Surco, Lima",Publicado hace más de 15 días,#JuntosEsPosible. ¿Qué hace un Analista de Rie...,NaN,NaN
...,...,...,...,...,...,...,...
189,REP,Asistente de Subestación Paramonga,"Paramonga, Lima",Publicado hace 5 días,actualizada la documentación de evidencias de ...,NaN,NaN
190,Compañía Food Retail Regional,Coordinador de Security - Plaza Vea,"Cercado De Lima, Lima",Publicado hace más de 15 días,minimizar los riesgos y vulnerabilidades. Func...,NaN,NaN
191,GRUPO EFE,Analista de seguridad de la información - Fina...,"Santiago de Surco, Lima",Publicado hace 9 días,país y en Latinoamérica. Nos encontramos en bú...,NaN,NaN
192,Verisure Perú,Analista de investigación de fraudes,"San Isidro, Lima",Publicado hoy,"las mejores empresas para trabajar, por Great ...",NaN,NaN
193,Caja Arequipa,Analista Senior de Segmento MYPE,"Arequipa, Arequipa",Publicado hace más de 30 días,"Microfinanzas en nuestro país, te invitamos a ...",NaN,NaN

## ANALISTA JUNIOR

In [30]:
# Configurar opciones del navegador
options = ChromeOptions()
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [31]:
driver = Chrome(options=options)

In [32]:
driver.get('https://www.bumeran.com.pe/empleos-busqueda-analista-junior.html')

In [33]:
companies = []
jobs = []
locations = []
dates = []
descriptions = []
observations_1 = []
observations_2 = []

options.add_argument("--headless")  # Ejecución en modo headless (sin interfaz gráfica)
service = Service("path/to/chromedriver")  # Reemplaza "path/to/chromedriver" con la ruta al archivo chromedriver.exe

# Inicializar el controlador de Selenium
driver = webdriver.Chrome(service=service, options=options)

while True:
    # Esperar hasta que aparezca al menos un elemento 'list'
    WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.TAG_NAME, "body")))
    
    # Encontrar todos los elementos 'list'
    lists = driver.find_elements(By.CLASS_NAME, "sc-csJRnm.cbWJbr")

    # Recorrer cada 'list' y extraer la información requerida
    for list_element in lists:
        company = list_element.find_element(By.CLASS_NAME, "sc-jkPxnQ.bxzQRW").text
        job = list_element.find_element(By.CLASS_NAME, "sc-eZXMBi.byiMiZ").text
        location = list_element.find_element(By.CLASS_NAME, "sc-dCVVYJ.hWcikA").text
        date = list_element.find_element(By.CLASS_NAME, "sc-kiXyGy.ebStiw").text
        description_elements = list_element.find_elements(By.CLASS_NAME, "sc-Ehqfj.ezOOTA")
        description = ""
        if description_elements:
            for element in description_elements:
                description += element.text
        
        # Agregar la información a las listas correspondientes
        companies.append(company)
        jobs.append(job)
        locations.append(location)
        dates.append(date)
        descriptions.append(description)


    # Buscar el enlace de "Avanzar" en la página actual
    next_button = driver.find_element(By.CSS_SELECTOR, "a.sc-hrBRpH.eGzIAQ")
    if 'disabled' in next_button.get_attribute("class"):
        break
    
    next_url = next_button.get_attribute("href")
    
    current_page = driver.current_url
    driver.get(next_url)
    new_page = driver.current_url
    if current_page == new_page:
        break

    time.sleep(random.uniform(3, 5))

In [34]:
# Crear un dataframe con la información recolectada
data_aj = {
    'Company': companies,
    'Job': jobs,
    'Location': locations,
    'Date': dates,
    'Description': descriptions
}

df_aj = pd.DataFrame(data_aj)

df_aj["Observation 1"] = np.nan
df_aj["Observation 2"] = np.nan

In [35]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_aj1 = df_aj.drop_duplicates(subset=campos_revisión).reset_index(drop=True)
df_aj1.index = df_aj1.index + 1

In [36]:
df_aj1

,Company,Job,Location,Date,Description,Observation 1,Observation 2
1,Confidencial,Analista QA JUNIOR (Tester)- REMOTO,"San Isidro, Lima",Publicado hace más de 30 días,"PERFIL PARA EL PUESTO: Técnico, Bachiller y/o ...",NaN,NaN
2,Votorantim Internacional CSC - SAC,ANALISTA JUNIOR DE TRIBUTACIÓN,"San Borja, Lima",Publicado hace 2 días,¡Nos encontramos buscando al mejor ANALISTA JU...,NaN,NaN
3,CONFIDENCIAL,ANALISTA JUNIOR DE LABORATORIO,"Cercado De Lima, Lima",Publicado hoy,"Empresa lider en el sector químico, dedicada a...",NaN,NaN
4,La Positiva Seguros,Analista Junior Tributario,"Lima, Lima",Publicado hace más de 15 días,¡Transforma el rubro de los seguros como nuest...,NaN,NaN
5,INDRA PERU,ANALISTA SOPORTE OPS JUNIOR,"Villa El Salvador, Lima",Publicado hace más de 15 días,: Analista de Soporte OPS Junior Conocimientos...,NaN,NaN
...,...,...,...,...,...,...,...
78,INTERCORP RETAIL,Ejecutivo/a de Desarrollo Inmobiliario Senior,"Lima, Lima",Publicado hace más de 30 días,Senior Los retos son: Elabora las presentacion...,NaN,NaN
79,Alicorp,ANALISTA DE CUMPLIMIENTO TRIBUTARIO,"Callao, Lima",Publicado hace más de 30 días,reportería solicitada por los clientes interno...,NaN,NaN
80,ARI CONSULTING S.A.C.,Contador Financiero Junior,Lima,Publicado hace 2 días,"Nuestro cliente, importante proveedor trasnaci...",NaN,NaN
81,ARI CONSULTING S.A.C.,Contador Bilingue,Lima,Publicado hace 2 días,"Nuestro cliente, importante proveedor trasnaci...",NaN,NaN
82,Super Food Holding,Auditor Interno Junior - San Borja,"San Borja, Lima",Publicado hace más de 15 días,Auditoria Interno Junior Objetivo del Puesto: ...,NaN,NaN

## BUSINESS INTELLIGENCE

In [37]:
# Configurar opciones del navegador
options = ChromeOptions()
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

In [38]:
driver = Chrome(options=options)

In [39]:
driver.get('https://www.bumeran.com.pe/empleos-busqueda-business-intelligence.html')

In [40]:
companies = []
jobs = []
locations = []
dates = []
descriptions = []
observations_1 = []
observations_2 = []

options.add_argument("--headless")  # Ejecución en modo headless (sin interfaz gráfica)
service = Service("path/to/chromedriver")  # Reemplaza "path/to/chromedriver" con la ruta al archivo chromedriver.exe

# Inicializar el controlador de Selenium
driver = webdriver.Chrome(service=service, options=options)

while True:
    # Esperar hasta que aparezca al menos un elemento 'list'
    WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.TAG_NAME, "body")))
    
    # Encontrar todos los elementos 'list'
    lists = driver.find_elements(By.CLASS_NAME, "sc-csJRnm.cbWJbr")

    # Recorrer cada 'list' y extraer la información requerida
    for list_element in lists:
        company = list_element.find_element(By.CLASS_NAME, "sc-jkPxnQ.bxzQRW").text
        job = list_element.find_element(By.CLASS_NAME, "sc-eZXMBi.byiMiZ").text
        location = list_element.find_element(By.CLASS_NAME, "sc-dCVVYJ.hWcikA").text
        date = list_element.find_element(By.CLASS_NAME, "sc-kiXyGy.ebStiw").text
        description_elements = list_element.find_elements(By.CLASS_NAME, "sc-Ehqfj.ezOOTA")
        description = ""
        if description_elements:
            for element in description_elements:
                description += element.text
        
        # Agregar la información a las listas correspondientes
        companies.append(company)
        jobs.append(job)
        locations.append(location)
        dates.append(date)
        descriptions.append(description)


    # Buscar el enlace de "Avanzar" en la página actual
    next_button = driver.find_element(By.CSS_SELECTOR, "a.sc-hrBRpH.eGzIAQ")
    if 'disabled' in next_button.get_attribute("class"):
        break
    
    next_url = next_button.get_attribute("href")
    
    current_page = driver.current_url
    driver.get(next_url)
    new_page = driver.current_url
    if current_page == new_page:
        break

    time.sleep(random.uniform(3, 5))

In [41]:
# Crear un dataframe con la información recolectada
data_bi = {
    'Company': companies,
    'Job': jobs,
    'Location': locations,
    'Date': dates,
    'Description': descriptions
}

df_bi = pd.DataFrame(data_bi)

df_bi["Observation 1"] = np.nan
df_bi["Observation 2"] = np.nan

In [42]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_bi1 = df_bi.drop_duplicates(subset=campos_revisión).reset_index(drop=True)
df_bi1.index = df_bi1.index + 1

In [43]:
df_bi1

,Company,Job,Location,Date,Description,Observation 1,Observation 2
1,REAL PLAZA S.R.L.,Practicante de Business Intelligence,"Lima, Lima",Publicado hace 6 días,Directorio Participar en el desarrollo e imple...,NaN,NaN
2,Nexa Resources,Jefe de Business Intelligence | Pasco,Lima,Publicado ayer,"En Nexa Resources, unidad El Porvenir, nos enc...",NaN,NaN
3,Grupo Lucky,Practicante Profesional de Business Intelligence,"Miraflores, Lima",Publicado hace más de 15 días,búsqueda de talentos como tú que puedan integr...,NaN,NaN
4,Grupo Lucky,Analista Jr. de Business Intelligence,"Miraflores, Lima",Publicado hace más de 15 días,búsqueda de talentos como tú que puedan integr...,NaN,NaN
5,Caja Arequipa,Business Intelligence Tools Analyst ACOE,"Arequipa, Arequipa",Publicado hace 12 días,postular al puesto de Business Intelligence To...,NaN,NaN
...,...,...,...,...,...,...,...
82,KOMATSU MITSUI,Practicante Profesional de Negocios e Innovación,"Callao, Lima",Publicado hace 5 días,) Indispensable manejo de Analisis de Datos. C...,NaN,NaN
83,TRUST CONSULTING,Analytics Advanced,"Lima, Lima",Publicado hace 6 días,"analíticas como minería de datos, Analytics Ad...",NaN,NaN
84,Kaits Consulting,DELIVERY MANAGER,"Magdalena del Mar, Lima",Publicado hace más de 30 días,,NaN,NaN
85,CORPORACIÓN PRIMAX S.A.,Analista de Customer Data & Analytics,"Lima, Lima",Publicado hace más de 30 días,integra el área de Clientes con Business Intel...,NaN,NaN
86,Caja Arequipa,Analista Senior de Estadística,"Arequipa, Arequipa",Publicado hace más de 30 días,"Herramientas de Bussiness Intelligence, Anális...",NaN,NaN

# ANÁLISIS DE INFORMACIÓN

## Preprocesamiento

In [44]:
df_total_v0=pd.concat([df_ds1,df_da1,df_ap1,df_ar1,df_aj1,df_bi1],axis=0,keys=['DS', 'DA', 'AP', 'AR', 'AJ', 'BI'])
df_total_v0

                       Company  \
DS 1                     SUNAT
   2         VIRTUS HEADHUNTER
   3         PANDERO S.A. EAFC
   4             CAJA HUANCAYO
   5   Clemente Althaus School
...                        ...
BI 82           KOMATSU MITSUI
   83         TRUST CONSULTING
   84         Kaits Consulting
   85  CORPORACIÓN PRIMAX S.A.
   86            Caja Arequipa

                                                     Job  \
DS 1   Consultor en Desarrollo de Modelos Analíticos ...
   2                  Analista Corporativo Técnico- Lima
   3     Ingeniero de Datos I - Inteligencia de Negocios
   4   AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...
   5       Practicante/Asistente de Biblioteca - Colegio
...                                                  ...
BI 82   Practicante Profesional de Negocios e Innovación
   83                                 Analytics Advanced
   84                                   DELIVERY MANAGER
   85              Analista de Customer Data & Analytics
   86                     Analista Senior de Estadística

                      Location                           Date  \
DS 1                      Perú  Publicado hace más de 30 días
   2                Lima, Lima                 Publicado ayer
   3                Lima, Lima  Publicado hace más de 30 días
   4         El Agustino, Lima  Publicado hace más de 30 días
   5          San Miguel, Lima  Publicado hace más de 30 días
...                        ...                            ...
BI 82             Callao, Lima          Publicado hace 5 días
   83               Lima, Lima          Publicado hace 6 días
   84  Magdalena del Mar, Lima  Publicado hace más de 30 días
   85               Lima, Lima  Publicado hace más de 30 días
   86       Arequipa, Arequipa  Publicado hace más de 30 días

                                             Description  Observation 1  \
DS 1   , Ciencias de la Computación y/o afines. Exper...            NaN
   2   Convocatoria Analista Corporativo Técnico- Lim...            NaN
   3   empresa Requisitos: Egresados de Técnica o uni...            NaN
   4   alcanzarás? Desarrollar actividades de soporte...            NaN
   5   Colegio Clemente Althaus, cetificado en Bachil...            NaN
...                                                  ...            ...
BI 82  ) Indispensable manejo de Analisis de Datos. C...            NaN
   83  analíticas como minería de datos, Analytics Ad...            NaN
   84                                                               NaN
   85  integra el área de Clientes con Business Intel...            NaN
   86  Herramientas de Bussiness Intelligence, Anális...            NaN

       Observation 2
DS 1             NaN
   2             NaN
   3             NaN
   4             NaN
   5             NaN
...              ...
BI 82            NaN
   83            NaN
   84            NaN
   85            NaN
   86            NaN

[1370 rows x 7 columns]

In [45]:
campos_revisión = ['Company', 'Job', 'Location', 'Date']
df_total_v1 = df_total_v0.drop_duplicates(subset=campos_revisión)

df_total_v1

                                Company  \
DS 1                              SUNAT
   2                  VIRTUS HEADHUNTER
   3                  PANDERO S.A. EAFC
   4                      CAJA HUANCAYO
   5            Clemente Althaus School
...                                 ...
BI 80  Consultora Human Solutions S.A.C
   81                     Laureate Perú
   82                    KOMATSU MITSUI
   83                  TRUST CONSULTING
   84                  Kaits Consulting

                                                     Job  \
DS 1   Consultor en Desarrollo de Modelos Analíticos ...
   2                  Analista Corporativo Técnico- Lima
   3     Ingeniero de Datos I - Inteligencia de Negocios
   4   AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...
   5       Practicante/Asistente de Biblioteca - Colegio
...                                                  ...
BI 80               Gerente de Administración y Finanzas
   81  UPN: Especialista en Gobierno de Datos y Gesti...
   82   Practicante Profesional de Negocios e Innovación
   83                                 Analytics Advanced
   84                                   DELIVERY MANAGER

                      Location                           Date  \
DS 1                      Perú  Publicado hace más de 30 días
   2                Lima, Lima                 Publicado ayer
   3                Lima, Lima  Publicado hace más de 30 días
   4         El Agustino, Lima  Publicado hace más de 30 días
   5          San Miguel, Lima  Publicado hace más de 30 días
...                        ...                            ...
BI 80          San Borja, Lima  Publicado hace más de 15 días
   81               Lima, Lima  Publicado hace más de 15 días
   82             Callao, Lima          Publicado hace 5 días
   83               Lima, Lima          Publicado hace 6 días
   84  Magdalena del Mar, Lima  Publicado hace más de 30 días

                                             Description  Observation 1  \
DS 1   , Ciencias de la Computación y/o afines. Exper...            NaN
   2   Convocatoria Analista Corporativo Técnico- Lim...            NaN
   3   empresa Requisitos: Egresados de Técnica o uni...            NaN
   4   alcanzarás? Desarrollar actividades de soporte...            NaN
   5   Colegio Clemente Althaus, cetificado en Bachil...            NaN
...                                                  ...            ...
BI 80  los procesos administrativo-financieros de la ...            NaN
   81  . Industrial y/o profesionales de carreras afi...            NaN
   82  ) Indispensable manejo de Analisis de Datos. C...            NaN
   83  analíticas como minería de datos, Analytics Ad...            NaN
   84                                                               NaN

       Observation 2
DS 1             NaN
   2             NaN
   3             NaN
   4             NaN
   5             NaN
...              ...
BI 80            NaN
   81            NaN
   82            NaN
   83            NaN
   84            NaN

[1181 rows x 7 columns]

In [46]:
df_total_v2=df_total_v1.replace('',np.nan)
df_total_v2

                                Company  \
DS 1                              SUNAT
   2                  VIRTUS HEADHUNTER
   3                  PANDERO S.A. EAFC
   4                      CAJA HUANCAYO
   5            Clemente Althaus School
...                                 ...
BI 80  Consultora Human Solutions S.A.C
   81                     Laureate Perú
   82                    KOMATSU MITSUI
   83                  TRUST CONSULTING
   84                  Kaits Consulting

                                                     Job  \
DS 1   Consultor en Desarrollo de Modelos Analíticos ...
   2                  Analista Corporativo Técnico- Lima
   3     Ingeniero de Datos I - Inteligencia de Negocios
   4   AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...
   5       Practicante/Asistente de Biblioteca - Colegio
...                                                  ...
BI 80               Gerente de Administración y Finanzas
   81  UPN: Especialista en Gobierno de Datos y Gesti...
   82   Practicante Profesional de Negocios e Innovación
   83                                 Analytics Advanced
   84                                   DELIVERY MANAGER

                      Location                           Date  \
DS 1                      Perú  Publicado hace más de 30 días
   2                Lima, Lima                 Publicado ayer
   3                Lima, Lima  Publicado hace más de 30 días
   4         El Agustino, Lima  Publicado hace más de 30 días
   5          San Miguel, Lima  Publicado hace más de 30 días
...                        ...                            ...
BI 80          San Borja, Lima  Publicado hace más de 15 días
   81               Lima, Lima  Publicado hace más de 15 días
   82             Callao, Lima          Publicado hace 5 días
   83               Lima, Lima          Publicado hace 6 días
   84  Magdalena del Mar, Lima  Publicado hace más de 30 días

                                             Description  Observation 1  \
DS 1   , Ciencias de la Computación y/o afines. Exper...            NaN
   2   Convocatoria Analista Corporativo Técnico- Lim...            NaN
   3   empresa Requisitos: Egresados de Técnica o uni...            NaN
   4   alcanzarás? Desarrollar actividades de soporte...            NaN
   5   Colegio Clemente Althaus, cetificado en Bachil...            NaN
...                                                  ...            ...
BI 80  los procesos administrativo-financieros de la ...            NaN
   81  . Industrial y/o profesionales de carreras afi...            NaN
   82  ) Indispensable manejo de Analisis de Datos. C...            NaN
   83  analíticas como minería de datos, Analytics Ad...            NaN
   84                                                NaN            NaN

       Observation 2
DS 1             NaN
   2             NaN
   3             NaN
   4             NaN
   5             NaN
...              ...
BI 80            NaN
   81            NaN
   82            NaN
   83            NaN
   84            NaN

[1181 rows x 7 columns]

In [47]:
df_total_v2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1181 entries, ('DS', 1) to ('BI', 84)
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        1181 non-null   object
 1   Job            1181 non-null   object
 2   Location       1181 non-null   object
 3   Date           1181 non-null   object
 4   Description    1122 non-null   object
 5   Observation 1  0 non-null      float64
 6   Observation 2  0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 89.5+ KB

In [48]:
print(df_total_v2['Observation 1'].value_counts())
print(df_total_v2['Observation 2'].value_counts())

Series([], Name: Observation 1, dtype: int64)
Series([], Name: Observation 2, dtype: int64)

In [50]:
df_total_v2

                                Company  \
DS 1                              SUNAT
   2                  VIRTUS HEADHUNTER
   3                  PANDERO S.A. EAFC
   4                      CAJA HUANCAYO
   5            Clemente Althaus School
...                                 ...
BI 80  Consultora Human Solutions S.A.C
   81                     Laureate Perú
   82                    KOMATSU MITSUI
   83                  TRUST CONSULTING
   84                  Kaits Consulting

                                                     Job  \
DS 1   Consultor en Desarrollo de Modelos Analíticos ...
   2                  Analista Corporativo Técnico- Lima
   3     Ingeniero de Datos I - Inteligencia de Negocios
   4   AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...
   5       Practicante/Asistente de Biblioteca - Colegio
...                                                  ...
BI 80               Gerente de Administración y Finanzas
   81  UPN: Especialista en Gobierno de Datos y Gesti...
   82   Practicante Profesional de Negocios e Innovación
   83                                 Analytics Advanced
   84                                   DELIVERY MANAGER

                      Location                           Date  \
DS 1                      Perú  Publicado hace más de 30 días
   2                Lima, Lima                 Publicado ayer
   3                Lima, Lima  Publicado hace más de 30 días
   4         El Agustino, Lima  Publicado hace más de 30 días
   5          San Miguel, Lima  Publicado hace más de 30 días
...                        ...                            ...
BI 80          San Borja, Lima  Publicado hace más de 15 días
   81               Lima, Lima  Publicado hace más de 15 días
   82             Callao, Lima          Publicado hace 5 días
   83               Lima, Lima          Publicado hace 6 días
   84  Magdalena del Mar, Lima  Publicado hace más de 30 días

                                             Description  Observation 1  \
DS 1   , Ciencias de la Computación y/o afines. Exper...            NaN
   2   Convocatoria Analista Corporativo Técnico- Lim...            NaN
   3   empresa Requisitos: Egresados de Técnica o uni...            NaN
   4   alcanzarás? Desarrollar actividades de soporte...            NaN
   5   Colegio Clemente Althaus, cetificado en Bachil...            NaN
...                                                  ...            ...
BI 80  los procesos administrativo-financieros de la ...            NaN
   81  . Industrial y/o profesionales de carreras afi...            NaN
   82  ) Indispensable manejo de Analisis de Datos. C...            NaN
   83  analíticas como minería de datos, Analytics Ad...            NaN
   84                                                NaN            NaN

       Observation 2
DS 1             NaN
   2             NaN
   3             NaN
   4             NaN
   5             NaN
...              ...
BI 80            NaN
   81            NaN
   82            NaN
   83            NaN
   84            NaN

[1181 rows x 7 columns]

## Filtro de trabajos

In [51]:
df_total_v3 = df_total_v2[df_total_v2["Job"].str.contains("sr|Sr|SR|senior|Senior|SENIOR|jefe|Jefe|JEFE|gerente|Gerente|GERENTE|.net|.Net|.NET|java|Java|JAVA|SAP |lead|Lead|LEAD|practicante|Practicante|PRACTICANTE|asesor|Asesor|ASESOR|desarrollador|Desarrollador|DESARROLLADOR")==False]

In [52]:
df_total_v3

                    Company  \
DS 1                  SUNAT
   2      VIRTUS HEADHUNTER
   3      PANDERO S.A. EAFC
   4          CAJA HUANCAYO
   6               EXPERTIA
...                     ...
BI 77          Confidencial
   79  Hipermercados Tottus
   81         Laureate Perú
   83      TRUST CONSULTING
   84      Kaits Consulting

                                                     Job  \
DS 1   Consultor en Desarrollo de Modelos Analíticos ...
   2                  Analista Corporativo Técnico- Lima
   3     Ingeniero de Datos I - Inteligencia de Negocios
   4   AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...
   6                  Líder de Data y Analítica Avanzada
...                                                  ...
BI 77                     Ingeniero de Datos de Negocios
   79                               CRM Campaign Analyst
   81  UPN: Especialista en Gobierno de Datos y Gesti...
   83                                 Analytics Advanced
   84                                   DELIVERY MANAGER

                      Location                           Date  \
DS 1                      Perú  Publicado hace más de 30 días
   2                Lima, Lima                 Publicado ayer
   3                Lima, Lima  Publicado hace más de 30 días
   4         El Agustino, Lima  Publicado hace más de 30 días
   6                Lima, Lima  Publicado hace más de 30 días
...                        ...                            ...
BI 77  Santiago de Surco, Lima  Publicado hace más de 30 días
   79               Lima, Lima          Publicado hace 6 días
   81               Lima, Lima  Publicado hace más de 15 días
   83               Lima, Lima          Publicado hace 6 días
   84  Magdalena del Mar, Lima  Publicado hace más de 30 días

                                             Description  Observation 1  \
DS 1   , Ciencias de la Computación y/o afines. Exper...            NaN
   2   Convocatoria Analista Corporativo Técnico- Lim...            NaN
   3   empresa Requisitos: Egresados de Técnica o uni...            NaN
   4   alcanzarás? Desarrollar actividades de soporte...            NaN
   6   , informatica, matemática, estadística, econom...            NaN
...                                                  ...            ...
BI 77  . · Deseable contar con una especialización en...            NaN
   79  vida del cliente -2 años en áreas de estrategi...            NaN
   81  . Industrial y/o profesionales de carreras afi...            NaN
   83  analíticas como minería de datos, Analytics Ad...            NaN
   84                                                NaN            NaN

       Observation 2
DS 1             NaN
   2             NaN
   3             NaN
   4             NaN
   6             NaN
...              ...
BI 77            NaN
   79            NaN
   81            NaN
   83            NaN
   84            NaN

[950 rows x 7 columns]

In [53]:
df_total_v4 = df_total_v3[df_total_v3["Description"].str.contains("4 años| 5 años| 6 años| 7 años| 8 años| 9 años| 10 años| 15 años")==False]

In [54]:
df_total_v5 = df_total_v4[df_total_v4["Location"].str.contains("Lima|Perú")==True]

In [55]:
df_total_v5

                    Company  \
DS 1                  SUNAT
   2      VIRTUS HEADHUNTER
   3      PANDERO S.A. EAFC
   4          CAJA HUANCAYO
   6               EXPERTIA
...                     ...
BI 76               Alicorp
   77          Confidencial
   79  Hipermercados Tottus
   81         Laureate Perú
   83      TRUST CONSULTING

                                                     Job  \
DS 1   Consultor en Desarrollo de Modelos Analíticos ...
   2                  Analista Corporativo Técnico- Lima
   3     Ingeniero de Datos I - Inteligencia de Negocios
   4   AUXILIAR DE SOPORTE DE NEGOCIOS - AGENCIAS EL ...
   6                  Líder de Data y Analítica Avanzada
...                                                  ...
BI 76  Analista Jr de Cumplimiento Tributario (Automa...
   77                     Ingeniero de Datos de Negocios
   79                               CRM Campaign Analyst
   81  UPN: Especialista en Gobierno de Datos y Gesti...
   83                                 Analytics Advanced

                      Location                           Date  \
DS 1                      Perú  Publicado hace más de 30 días
   2                Lima, Lima                 Publicado ayer
   3                Lima, Lima  Publicado hace más de 30 días
   4         El Agustino, Lima  Publicado hace más de 30 días
   6                Lima, Lima  Publicado hace más de 30 días
...                        ...                            ...
BI 76               Lima, Lima  Publicado hace más de 30 días
   77  Santiago de Surco, Lima  Publicado hace más de 30 días
   79               Lima, Lima          Publicado hace 6 días
   81               Lima, Lima  Publicado hace más de 15 días
   83               Lima, Lima          Publicado hace 6 días

                                             Description  Observation 1  \
DS 1   , Ciencias de la Computación y/o afines. Exper...            NaN
   2   Convocatoria Analista Corporativo Técnico- Lim...            NaN
   3   empresa Requisitos: Egresados de Técnica o uni...            NaN
   4   alcanzarás? Desarrollar actividades de soporte...            NaN
   6   , informatica, matemática, estadística, econom...            NaN
...                                                  ...            ...
BI 76  ? Profesionales de las carreras de Ingeniería ...            NaN
   77  . · Deseable contar con una especialización en...            NaN
   79  vida del cliente -2 años en áreas de estrategi...            NaN
   81  . Industrial y/o profesionales de carreras afi...            NaN
   83  analíticas como minería de datos, Analytics Ad...            NaN

       Observation 2
DS 1             NaN
   2             NaN
   3             NaN
   4             NaN
   6             NaN
...              ...
BI 76            NaN
   77            NaN
   79            NaN
   81            NaN
   83            NaN

[689 rows x 7 columns]

In [56]:
df_total_v6 = df_total_v5[~df_total_v5["Date"].str.contains("[6-9]|1[0-9]|2[0-9]|30")]

In [57]:
df_total_v6

                           Company  \
DS 2             VIRTUS HEADHUNTER
   114  UNIVERSIDAD NORBERT WIENER
   115  UNIVERSIDAD NORBERT WIENER
   122                Confidencial
   129                  MILLENNIUM
...                            ...
AJ 80        ARI CONSULTING S.A.C.
   81        ARI CONSULTING S.A.C.
BI 37                   Page Group
   39   MENORCA INVERSIONES S.A.C.
   68                       Adecco

                                                      Job  \
DS 2                   Analista Corporativo Técnico- Lima
   114  DOCENTE PARA DERECHO PROCESAL Y PRACTICA JURIDICA
   115  DOCENTE PARA DERECHO ADMINISTRATIVO Y GESTION ...
   122                           GESTIÓN COMERCIAL - LIMA
   129                            Data Science Specialist
...                                                   ...
AJ 80                          Contador Financiero Junior
   81                                   Contador Bilingue
BI 37                   Especialista Base de Datos Oracle
   39                     Asistente de Control de Gestión
   68     Auxiliar de Base de datos Temporal - Miraflores

                                 Location                   Date  \
DS 2                           Lima, Lima         Publicado ayer
   114                         Lima, Lima          Publicado hoy
   115                         Lima, Lima          Publicado hoy
   122                         Lima, Lima  Publicado hace 3 días
   129  San Martín De Porres - Lima, Lima         Publicado ayer
...                                   ...                    ...
AJ 80                                Lima  Publicado hace 2 días
   81                                Lima  Publicado hace 2 días
BI 37                          Lima, Lima          Publicado hoy
   39                          Lima, Lima  Publicado hace 2 días
   68                    Miraflores, Lima  Publicado hace 2 días

                                              Description  Observation 1  \
DS 2    Convocatoria Analista Corporativo Técnico- Lim...            NaN
   114  la posición de DOCENTE PARA LA ESCUELA DE DERE...            NaN
   115  la posición de DOCENTE PARA LA ESCUELA DE DERE...            NaN
   122  , Ingeniería Industrial, Ciencias de la Comuni...            NaN
   129  del funcionamiento del algoritmo y metodología...            NaN
...                                                   ...            ...
AJ 80   Nuestro cliente, importante proveedor trasnaci...            NaN
   81   Nuestro cliente, importante proveedor trasnaci...            NaN
BI 37   ) Oracle Business Intelligence (BI) Big Data D...            NaN
   39   respectivas para asegurar el cumplimiento del ...            NaN
   68   buscamos de ti? · Profesional egresado o estud...            NaN

        Observation 2
DS 2              NaN
   114            NaN
   115            NaN
   122            NaN
   129            NaN
...               ...
AJ 80             NaN
   81             NaN
BI 37             NaN
   39             NaN
   68             NaN

[121 rows x 7 columns]

In [58]:
df_total_v6 = df_total_v6.copy()
df_total_v6.loc[:, 'Order'] = 0

df_total_v6.loc[df_total_v6['Date'].str.contains('Hoy|Recién publicado'), 'Order'] = -1
df_total_v6.loc[df_total_v6['Date'].str.isnumeric(), 'Order'] = df_total_v6.loc[df_total_v6['Date'].str.isnumeric(), 'Date'].astype(int)
df_total_v6 = df_total_v6.sort_values(['Order', 'Date'], ascending=[True, True])
df_total_v6.drop('Order', axis=1, inplace=True)

In [59]:
df_total_v6

                                        Company  \
DS 2                          VIRTUS HEADHUNTER
   129                               MILLENNIUM
   184      UNIVERSIDAD DE SAN MARTIN DE PORRES
   202                               Grupo Tawa
DA 9    INSTITUTO QUIMIOTERAPICO S.A. (IQFARMA)
...                                         ...
AR 178                             World Vision
AJ 3                               CONFIDENCIAL
   12                                Grupo Tawa
   22                             MANPOWER PERÚ
BI 37                                Page Group

                                                      Job  \
DS 2                   Analista Corporativo Técnico- Lima
   129                            Data Science Specialist
   184                                     Bibliotecólogo
   202       Asistente de cuentas por cobrar - San Isidro
DA 9                           ANALISTA DE DATA ANALYTICS
...                                                   ...
AR 178             Analista de administración de personal
AJ 3                       ANALISTA JUNIOR DE LABORATORIO
   12               Analista de pagos Junior - Ventanilla
   22   Analista Junior de Apoyo al Investigador - Rub...
BI 37                   Especialista Base de Datos Oracle

                                 Location            Date  \
DS 2                           Lima, Lima  Publicado ayer
   129  San Martín De Porres - Lima, Lima  Publicado ayer
   184                    La Molina, Lima  Publicado ayer
   202                   San Isidro, Lima  Publicado ayer
DA 9                                 Perú  Publicado ayer
...                                   ...             ...
AR 178                  Jesús María, Lima   Publicado hoy
AJ 3                Cercado De Lima, Lima   Publicado hoy
   12                    Ventanilla, Lima   Publicado hoy
   22                                Perú   Publicado hoy
BI 37                          Lima, Lima   Publicado hoy

                                              Description  Observation 1  \
DS 2    Convocatoria Analista Corporativo Técnico- Lim...            NaN
   129  del funcionamiento del algoritmo y metodología...            NaN
   184  :. Titulado o Bachiller en Bibliotecología y C...            NaN
   202  Por encargo de nuestro cliente, compañía multi...            NaN
DA 9    REQUISITOS -Bachiller de la carrera de Ing. de...            NaN
...                                                   ...            ...
AR 178  gestionar el cambio que pueda ocupar el puesto...            NaN
AJ 3    Empresa lider en el sector químico, dedicada a...            NaN
   12   Por encargo de nuestro cliente, reconocida com...            NaN
   22   En Manpower Perú buscamos al mejor talento par...            NaN
BI 37   ) Oracle Business Intelligence (BI) Big Data D...            NaN

        Observation 2
DS 2              NaN
   129            NaN
   184            NaN
   202            NaN
DA 9              NaN
...               ...
AR 178            NaN
AJ 3              NaN
   12             NaN
   22             NaN
BI 37             NaN

[121 rows x 7 columns]

In [60]:
df_total_v6.to_excel('C:/Users/asus/Desktop/Python/Web Scraping/Finding Job/Job postings/informe bumeran 17-05.xlsx', index=True)